.form-row {
    display: flex;
}

.form-row input {
    flex: 2;
}

@media screen and (min-width: 768px) {
    .form-row {
        flex: 3;
    }
}

@media screen and (min-width: 992px) {
    .form-row {
        flex: 4;
    }
}

@media screen and (min-width: 1200px) {
    .form-row {
        flex: 5;
    }
}

.header {
    display: block;
    font-size: 56px;
    margin: auto;
    text-align: center;
}

.subHeader{
    display: block;
    font-size: 26px;
    margin: auto;
    text-align: center;
}

.allSubsLink {
    display: block;
    margin: auto;
    text-align: center;
}

.table {
    text-align: center;
    margin: 0 auto;
    width:50%;
    float: none;
}

.form {
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    width: 50%;
}