.header {
    font-size: 56px;
    text-align: center;
}

.subHeader {
    font-size: 36px;
    text-align: center;
}

.label {
    font-weight: bold;
    font-size: 28px;
}

.data {
    font-size: 28px;
}

.indexLink {
    margin-top: 30px;
}